<div class="middle">
<%= form_for @hours, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%= f.time_field :open%>
  <%= f.time_field :close %>
	<%= f.submit "Update" %>
	<%end%>
</div>
