<nav class="navbar navbar-expand-lg navbar-dark bg-default container-fluid pl-6">
  <div id="alimlogo">
  <%= image_tag 'alimalo1.png', class:"navbar-brand" %>
</div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Alimentations Générales</a>
        <div class="dropdown-menu" aria-labelledby="navbarNavDropdown">
          <a class="dropdown-item" href="#">LES ALIMS</a>
          <a class="dropdown-item" href="#">LES PRODUITS</a>
          <a class="dropdown-item" href="#">COLLECTION ALIM</a>
          <a class="dropdown-item" href="#">MAGAZINE ALIM</a>
          <a class="dropdown-item" href="#">RADIO ALIM</a>
        </div>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Notre Mission</a>
        <div class="dropdown-menu" aria-labelledby="navbarNavDropdown">
          <a class="dropdown-item" href="#">LE CONTEXTE</a>
          <a class="dropdown-item" href="#">NOTRE SOLUTION</a>          
          <a class="dropdown-item" href="#">L'ÉQUIPE</a>
      </div>
      </li>


        <%if user_signed_in? %>

          <li class="nav-item">
              <%=  link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>

        <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Espace Pro</a>
            <div class="dropdown-menu" aria-labelledby="navbarNavDropdown" id="espacepro">
              <a class="dropdown-item" data-toggle="modal" data-target="#signUpModal">REJOINDRE</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#logInModal">CONNEXION</a>
            </div>
          </li>
        <% end %>
      </li>
    </ul>
  </div>

</nav>


<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar-brand").mouseenter(function () {
            $(this).css('box-shadow', '0 0 15px #ffee10');
        });
        $(".navbar-brand").mouseleave(function () {
            $(this).css('box-shadow', 'none');
        });
    }
</script>