
<div class="container">
	<div class="credentials">
		<div class="jumbotron" style="overflow: scroll">
			<h1>POLITIQUE DE CONFIDENTIALITÉ</h1><br>

<h5>QUELLES SONT LES DONNÉES QUE NOUS RECUEILLONS SUR VOUS ET DANS QUELLES CIRCONSTANCES LES COLLECTONS-NOUS ?</h5>
<br>

<h6>Les données que vous nous transmettez directement</h6>

<p>A l’occasion des différents contacts que nous avons avec vous, vous pouvez être amené à nous communiquer des informations qui vous concernent. Elles sont collectées notamment lors de l’inscription à une newsletter, de la création d’un compte sur nos sites et applications ou pour accéder à toute autre offre ou tout autre service.</p>

<p>Ces données sont notamment votre adresse e-mail et toute autre information que vous souhaitez porter à notre connaissance.</p><br>

<h6>Les données que nous recueillons à l’occasion de notre relation commerciale</h6>

<p>Les données que nous recueillons à l’occasion de notre relation commerciale avec vous sont notamment les suivantes :</p>

<p>Les demandes que vous avez faites auprès de notre community manager ou les incidents que vous nous avez signalés, par exemple concernant l’exécution de nos services ;</p>

<h6>Les données que nous recueillons automatiquement</h6>

<p>Lors de chacune de vos visites sur nos sites et applications, nous recueillons des informations relatives à votre connexion et à votre navigation. Différentes technologies peuvent être mises en œuvre pour recueillir ces données. La principale est le cookie.</p><br>


<h6> Données recueillies par l’intermédiaire de cookies</h6>



<p>Un cookie est un fichier texte déposé lors de la consultation d’un site, d’une application ou d’une publicité en ligne et stocké dans un espace spécifique du disque dur de votre ordinateur ou de votre appareil mobile. Les cookies sont gérés par votre navigateur Internet et seul l’émetteur d’un cookie peut décider de la lecture ou de la modification des informations qui y sont contenues.</p>



<p>Un cookie a une durée de validité limitée. Son dépôt et son stockage sur votre terminal se font dans le respect de la législation applicable et sous réserve des choix que vous avez exprimés et que vous pouvez modifier à tout moment, dans les conditions précisées à l’article 9 ci-après.</p>



<p>Un cookie ne vous identifie pas personnellement. Il permet à son émetteur de reconnaître votre terminal et de collecter un certain nombre d’informations relatives à la navigation effectuée depuis ce terminal.</p>



<p>Les cookies ont plusieurs fonctions, telles que vous permettre de naviguer efficacement sur un site ou une application, se souvenir de vos choix, des biens et services que vous souhaitez acheter, vous proposer des contenus publicitaires pertinents en fonction de vos centres d’intérêts exprimés lors de votre navigation. Vous trouverez de plus amples informations sur les cookies sur les sites suivants :</p>

<p>www.cnil.fr</p>

<p>www.allaboutcookies.org<p>
<p>www.aboutcookies.org<p>
<p>www.youronlinechoices.eu<p>



<h6>Les cookies déposés par ALIM-ALO sous réserve de vos choix nous donnent accès notamment aux informations suivantes :</h6>



<p>–      Identifiants de l’équipement que vous utilisez (adresse IP de votre ordinateur, identifiant Android, identifiant Apple, etc.),</p>

<p>–      Type de système d’exploitation utilisé par votre terminal (Microsoft Windows, Apple Os, Linux, Unix, BeOS, etc.),</p>

<p>–      Type et version du logiciel de navigation utilisé par votre terminal (Microsoft Internet Explorer, Apple Safari, Mozilla Firefox, Google Chrome, etc.),</p>

<p>–      Dates et heures de connexion à nos services,</p>

<p>–      Adresse de la page Internet de provenance (« referrer »),</p>

<p>–      Données de navigation sur nos services, contenus visionnés.</p>



<h4>●      Données recueillies par des technologies standard d’Internet</h4>



<p>Nous sommes également susceptibles d’utiliser des technologies standard d’Internet, tels que des scripts, des pixels et des redirections. Les scripts (parfois appelés tags), écrits en langage javascript, sont des programmes qui s’exécutent dans votre navigateur et effectuent différentes actions, par exemple envoyer une information à nos serveurs. Les scripts sont également capables de créer des pixels. Les pixels (parfois appelées GIFs transparents, GIFs clairs ou Web-bugs) sont des lignes de code qui permettent d’afficher une image graphique (généralement invisible) sur une page Web ou dans un e-mail. Les redirections permettent de rendre une page Web disponible sous plusieurs adresses de page (URL). Lorsqu’un navigateur ouvre une URL de redirection, une page avec une URL différente est ouverte.</p>



<p>Le but de ces technologies est d’améliorer votre expérience sur nos sites et applications, y compris pour vous fournir un contenu personnalisé selon vos centres d’intérêts. Par exemple, lorsqu’un utilisateur clique sur un bouton de partage d’un article, un script crée un pixel qui permet de comptabiliser le partage. Ainsi, nous sommes en mesure de connaître le nombre de partages total d’un article, et nous pouvons établir le classement des articles les plus partagés.</p>



<h6>Ces technologies nous donnent accès notamment aux informations suivantes :</h6>

<p>–      Informations relatives à votre utilisation de nos sites et applications ;</p>

<p>–      Informations relatives à la présence de cookies sur votre terminal, sur l’heure et la date de consultation d’une page, et une description de la page où la balise Web est mise ;</p>

<p>–      Informations sur la lecture ou non des e-mails que nous vous adressons, sur les clics que vous faites sur les liens contenus dans ces e-mails.</p>



<h4>Nos sites et applications peuvent également inclure des scripts, des pixels et des redirections de tiers. Ces technologies permettent aux fournisseurs de services tiers de collecter certaines informations telles que votre type de navigateur, et la page Web qui vous a redirigé sur nos sites Internet. Ces fournisseurs de services tiers traitent les informations qu’ils collectent dans un but d’audit, de recherche, et pour déclarer l’information sur nos sites et applications et sur les publicités regardées sur ceux-ci. Nous ne partageons pas vos données d’identification avec ces tiers dans le cadre de leur usage de ces technologies.</h4>



<h6>●      Données fournies par les appareils mobiles</h6>



<p>Certains appareils mobiles, en fonction des fonctionnalités que vous avez activées (par exemple : « Push » ou « Géolocalisation ») lors du téléchargement d’une de nos applications, envoient des informations, notamment : modèle de votre téléphone, version de son système d’exploitation, type de connectivité, nom et version de l’application utilisée.</p>



<p>Ces données, nécessaires au bon fonctionnement des applications mobiles que nous éditons, sont traitées automatiquement par nos serveurs et ceux de certains de nos partenaires (notamment AT Internet, SmartAdServer) pour pouvoir vous fournir un service et des publicités adaptés aux caractéristiques techniques de votre appareil et mesurer l’audience de notre application.</p>


<p>Par ailleurs, si vous avez accepté cette fonctionnalité lors du téléchargement de nos applications, nous sommes en mesure d’identifier l’emplacement physique de votre appareil (géolocalisation), notamment pour vous informer sur des contenus ou des offres que nous pensons en adéquation avec vos attentes ou vos centres d’intérêt ou pour améliorer votre expérience sur nos applications mobiles. Conformément à la loi applicable, les fonctions de géolocalisation peuvent être désactivées à tout moment dans les paramètres système de votre appareil.</p>



<h6>Les données que nous supposons</h6>



<p>Nous sommes susceptibles d’établir, en rapprochant les données dont nous disposons vous concernant et des informations statistiques générales et anonymes, des suppositions sur les contenus et services à même de répondre à vos goûts ou à vos usages.



<p>Exemple : Si, d’après des données statistiques, une majorité de personnes âgées de 30 à 50 ans, vivant à Paris et s’intéressant à l’actualité littéraire, se passionne également pour les séries télévisées, et que vous êtes un de nos abonnés parisiens, âgé de 42 ans qui consultez régulièrement sur notre site des articles en lien avec l’actualité littéraire, nous allons supposer que vous vous intéressez aussi aux séries télévisées et nous serons en mesure de vous montrer lors de la navigation sur notre site une publicité pour un service de vidéo à la demande par abonnement, spécialisé dans les séries.</p>



<h6>Données relatives aux mineurs</h6>


<p>L’utilisateur mineur doit obtenir le consentement de son responsable légal préalablement à la communication de données personnelles le concernant.</p>



<p>Pour l’inscription sur nos sites et à certains de nos services en lignes (newsletter par exemple), l’âge de 16 ans est accepté.</p>



<p>Un internaute âgé de moins de 18 ans au moment de la publication ou de la création d’un compte en ligne bénéficie d’un droit spécifique à l’effacement des données le concernant. Pour toute information, merci de contacter la déléguée à la protection des données  (karl.verdiere@hotmail.fr).</p>



<h6>Données relatives à un tiers</h6>



<p>Avant d’offrir à un tiers un abonnement ou tout autre produit ou service que nous commercialisons, vous devez vous assurer que la personne concernée accepte que ses données personnelles, notamment ses coordonnées postales, nous soient communiquées.</p>



<h6>Exclusion de toute donnée sensible</h6>



<p>ALIM-ALO ne collecte aucune donnée sensible vous concernant. Sont considérées comme des données sensibles : l’origine raciale ou ethnique, les opinions politiques, les croyances religieuses ou philosophiques, l’adhésion à un syndicat, les données relatives à la santé ou l’orientation sexuelle. Si de telles informations nous étaient d’une manière ou d’une autre communiquées, elles seront supprimées.</p>



<h4>POUR QUELLES FINALITÉS UTILISONS-NOUS VOS DONNÉES ?</h4>



<p>Le présent article vous indique les principales finalités pour lesquelles nous utilisons les données mentionnées à l’article 3.</p>



<h6>Opérations nécessaires à la fourniture de produits ou services</h6>



<p>•       Gestion des abonnements à nos newsletters et/ou alertes e-mails ;</p>

<p>•       Relation clients : mise à disposition d’un community manager accessible par e-mail pour toute question ou réclamation ;</p>

<p>•       Réalisation d’enquêtes de satisfaction ;</p>

<p>•       Envoi d’informations sur la modification ou l’évolution de nos services ;</p>

<p>•       Gestion de l’exercice de vos droits sur vos données personnelles, dans les conditions prévues à l’article 9 ;</p>

<p>•       Vérification du respect de la législation applicable, de nos contrats et conditions générales d’utilisation.</p>



<h4>4.2       Opérations de marketing et de prospection commerciale relatives aux publications, produits et services de ALIM_ALO</h4>



<p>•       Mise aux normes postales, mise à jour, enrichissement et déduplication de vos informations personnelles dans une base de données dédiée du Groupe Le Monde ;</p>

<p>•       Envoi d’informations sur notre groupe de presse, ses publications et son activité ;</p>

<p>•       Envoi d’offres marketing, publicitaires et promotionnelles relatives à nos produits et services par courrier postal, asilage, e-mail, notifications mobiles, sur les réseaux sociaux ou tout autre support ;</p>

<p>•       Actions de fidélisation ou de prospection commerciales personnalisées ;</p>

<p>•       Mise en place de jeux concours ou autres opérations promotionnelles ;</p>

<p>•       Recueil des avis clients ;</p>

<p>•       Elaboration de statistiques commerciales.</p>



<h4>4.3          Opérations liées à des partenariats commerciaux</h4>



<p>•       Partage, échange ou location de fichiers avec des partenaires commerciaux dans le respect de la réglementation en vigueur et des exigences de sécurité ;</p>

<p>•       Envoi de messages marketing, publicitaires et promotionnels relatifs aux produits et services de partenaires par courrier postal, asilage, e-mails, notifications mobiles, sur les réseaux sociaux ou tout autre support ;</p>

<p>•       Mise en place de jeux concours ou autres opérations promotionnelles ou événementielles avec des partenaires commerciaux.</p>



<h4>4.4          Finalités associées au dépôt de cookies sur votre navigateur</h4>



<h6>●                                 Fonctionnement et optimisation de la navigation sur nos sites et applications</h6>



<p>o       Adaptation de la présentation de nos sites et applications aux préférences d’affichage de votre terminal (langue utilisée, résolution d’affichage, système d’exploitation, etc.) lors de vos visites, selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte ;</p>

<p>o       Mémorisation des informations relatives à un formulaire que vous avez rempli sur notre site (inscription ou accès à votre compte) ou à des produits, services ou informations que vous avez choisis sur notre site (service souscrit, contenu consulté, achat effectué, etc…) ;</p>

<p>o       Connexion automatique aux espaces réservés ou personnels de notre site, tels que votre compte, grâce à des identifiants ou des données que vous nous avez antérieurement confiés ;</p>

<p>o       Mise à disposition d’outils de partage sur les réseaux sociaux ;</p>

<p>o       Gestion de nos plates-formes et réalisation d’opérations techniques internes dans le cadre de résolution de problèmes, analyse de données, tests, recherches, analyses, études et sondages ;</p>

<p>o       Mise en œuvre de mesures de sécurité ;</p>

<p>o       Mesures de qualité pour nous assurer que l’affichage de nos contenus est adapté à votre appareil.</p>



<h6>●               Mesure de fréquentation et d’audience</h6>



<p>o       Etablissement de statistiques et volumes de fréquentation et d’utilisation des divers éléments composant notre site (rubriques et contenus visités, parcours) afin d’améliorer l’intérêt et l’ergonomie de nos services ;</p>

<p>o       Comptabilisation du nombre total de publicités affichées par nos soins sur nos espaces publicitaires, classement et statistiques ;</p>

<p>o       Analyse des audiences en fonction des résultats des campagnes publicitaires ;</p>

<p>o       Détermination de centres d’intérêt et des comportements ;</p>

<p>o       Amélioration de la connaissance clients/utilisateurs à des fins de personnalisation.</p>

<h6>●               Personnalisation des publicités présentes sur nos sites et applications</h6>



<p>o       Adapter les espaces publicitaires aux préférences d’affichage de votre terminal (identification des publicités, établissement de statistiques et volumes de fréquentation et d’utilisation des divers éléments composant notre site : rubriques et contenus visités, parcours) afin d’améliorer l’intérêt et l’ergonomie de nos services ;</p>

<p>o       Adapter les publicités affichées sur votre terminal lors de votre navigation sur nos sites et applications aux caractéristiques techniques de celui-ci (1), à vos choix de navigation antérieurs (2), à vos centres d’intérêt et usages (3), aux données que vous nous avez antérieurement communiquées (4), le cas échéant, aux données de localisation géographique de votre terminal (5) ;</p>

<p>o       Vous reconnaître pour afficher des publicités personnalisées sur les réseaux sociaux ;</p>

<p>o       Mesurer l’efficacité de nos campagnes publicitaires et propositions de services.</p>

<h4>8-    COMMENT VOS DONNÉES SONT-ELLES PROTÉGÉES ?</h4>



<h6>En tant que responsable de traitements, nous mettons en œuvre des mesures techniques et organisationnelles appropriées conformément aux dispositions légales applicables, pour protéger vos données personnelles contre l’altération, la perte accidentelle ou illicite, l’utilisation, la divulgation ou l’accès non autorisé, et notamment :</h6>



<p>•       La nomination d’un délégué à la protection des données ;</p>

<p>•       La constitution d’une cellule consacrée à la sécurité des systèmes d’information ;</p>

<p>•       La sensibilisation aux exigences de confidentialité de nos collaborateurs amenés à accéder
à vos données personnelles ;</p>

<p>•       La sécurisation de l’accès à nos locaux et à nos plates-formes informatiques ;</p>

<p>•       La mise en œuvre d’une politique générale de sécurité informatique de l’entreprise ;</p>

<p>•       La sécurisation de l’accès, du partage et du transfert des données ;</p>

<p>•       Le haut degré d’exigence en matière de protection des données lors de la sélection de nos sous-traitants et partenaires.</p>



<h4>9-    QUELS SONT VOS DROITS ?</h4>



<h6>9.1       Vos droits en matière d’accès à vos données personnelles</h6>



<p>Vous avez le droit d’accéder à vos données personnelles et de demander qu’elles soient rectifiées, complétées ou mises à jour. Vous pouvez également demander l’effacement de vos données ou vous opposer à leur traitement, à condition de justifier d’un motif légitime.</p>



<p>Vous pouvez demander à exercer votre droit à la portabilité de vos données, c’est-à-dire le droit de recevoir les données personnelles que vous nous avez fournies dans un format structuré, couramment utilisé et le droit de transmettre ces données à un autre responsable de traitements.</p>



<p>Vous pouvez enfin formuler des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel après votre décès.</p>



<p>Vous pouvez exercer vos droits auprès de la déléguée à la protection des données personnelles du Groupe Le Monde à l’adresse suivante : 80, boulevard Auguste-Blanqui – 75707 Paris cedex 13 ou par email : dpo @ groupelemonde.fr .</p>



<p>Avant de répondre à votre demande, nous sommes susceptibles de vérifier votre identité et/ou vous demander de nous fournir davantage d’informations pour répondre à votre demande. Nous nous efforcerons de donner suite à votre demande dans un délai raisonnable et, en tout état de cause, dans les délais fixés par la loi.</p>



<p>En cas de réponse insatisfaisante, vous pouvez introduire une réclamation auprès de la Commission nationale de l’informatique et des libertés (CNIL). (Clic).</p>



<h6>9.2       Vos droits en matière d’opposition aux sollicitations commerciales</h6>



<p>Nous sommes susceptibles d’utiliser vos coordonnées dans le cadre de sollicitations commerciales, en conformité avec la loi applicable et les clauses de la présente politique de confidentialité. Vous pouvez à tout moment vous opposer à ces sollicitations, selon des modalités qui dépendent du canal de communication que nous utilisons pour vous les adresser.</p>



<p>•       Sollicitations commerciales par voie électronique (e-mail) :</p>



<p>Nous respectons les règles de l’article L.34-5 du code des postes et des communications électroniques qui prévoit le recueil préalable et exprès de votre consentement pour l’envoi de prospection commerciale par voie électronique (e-mail, push notifications ou SMS).</p>





<p>Cependant, votre consentement exprès et préalable n’est pas obligatoire lorsque vous êtes déjà client de ALIM_ALO et que l’objet de notre sollicitation est de vous proposer des produits ou services analogues à ceux que nous vous fournissons déjà.</p>



<p>Dans tous les cas, vous avez toujours la possibilité de vous opposer à la réception de ces sollicitations en cliquant sur le lien de désabonnement prévu dans chaque e-mail.</p>



<p>•       Sollicitations commerciales sur les applications mobiles</p>



<p>Lors de la première ouverture des applications mobiles de ALIM_ALO sur votre smartphone ou tablette, vous pouvez donner l’autorisation à la réception de notifications mobiles ou « push ». Ces notifications nous permettent de vous communiquer des contenus éditoriaux (alerte info, contenu mis en avant par la rédaction), et peuvent, de temps à autre, être utilisés pour des offres commerciales. Vous pouvez à tout moment désactiver ces notifications dans les réglages de votre smartphone.



<h6>9.3       Vos droits en matière d’acceptation et de gestion des cookies</h6>



<p>L’enregistrement d’un cookie sur votre terminal de navigation est subordonné à votre volonté. Vous pouvez à tout moment modifier vos choix en matière d’acceptation ou de refus des cookies déposés sur votre terminal, soit sur votre navigateur, soit en ligne auprès de différents opérateurs.</p>

<p>Afin de gérer les cookies au plus près de vos souhaits, nous vous invitons à paramétrer votre navigateur en tenant compte de la finalité des cookies.</p>



<p>Comment exercer vos choix ?</p>



<p>a.     Faire vos choix sur votre navigateur</p>



<p>Vous pouvez paramétrer votre logiciel de navigation soit de manière à ce que l’acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré, soit à accepter ou refuser systématiquement l’enregistrement de cookies dans votre terminal.</p>

<p>Nous vous alertons sur le fait que tout paramétrage sur votre logiciel de navigation concernant le refus des cookies techniques et de fonctionnalités sera susceptible d’altérer votre confort de navigation sur nos sites Internet, voire d’empêcher l’utilisation de certains de nos services nécessitant l’utilisation de ces mêmes cookies.</p>

<p>Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos sites Internet et de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.</p>

<p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies.</p>

<p>•       Microsoft Internet Explorer</p>
<p>http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</p>

<p>•       Microsoft Edge</p>

<p>https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy</p>

<p>•       Apple Safari
http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html</p>

<p>•       Google Chrome
http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647</p>

<p>•       Mozilla Firefox
http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies</p>

<p>•       Opera
http://help.opera.com/Windows/10.20/fr/cookies.html</p>



<p>•             Cookies Flash de Adobe Flash Player</p>

<p>Adobe Flash Player est une application informatique qui permet le développement rapide des contenus dynamiques utilisant le langage informatique Flash. Flash (et les applications de même type) mémorise les paramètres, les préférences et l’utilisation de ces contenus grâce à une technologie similaire aux cookies. Toutefois, Adobe Flash Player gère ces informations et vos choix par une interface différente de celle fournie par votre logiciel de navigation.</p>

<p>Dans la mesure où votre terminal serait susceptible de visualiser des contenus développés avec le langage Flash, nous vous invitons à accéder à vos outils de gestion des cookies Flash, directement depuis le site http://www.adobe.com/fr.</p>



<h4>•             « Do not track »</h4>

<p>Vous pouvez également paramétrer votre navigateur afin que celui-ci envoie un code indiquant aux sites Web que vous ne souhaitez pas être suivi (option « Do not track »).</p>

<p>Microsoft Internet Explorer</p>

<p>http://windows.microsoft.com/fr-fr/internet-explorer/use-tracking-protection#ie=ie-11</p>

<p>Microsoft Edge</p>

<p>https://privacy.microsoft.com/fr-fr/windows-10-microsoft-edge-and-privacy</p>

<p>Apple Safari</p>

<p>http://support.apple.com/kb/PH11952</p>

<h4>Google Chrome</h4>

<p>https://support.google.com/chrome/answer/114836?</p>

<p>Mozilla Firefox</p>

<p>https://support.mozilla.org/fr/kb/comment-activer-option-ne-pas-pister</p>

<p>Opera</p>

<p>http://help.opera.com/Windows/12.10/fr/notrack.html</p>


		</div>
	</div>
</div>
