<!-- Map canvas -->
<div id="google-map">
    <!-- #google-container will contain the map  -->
    <div id="map_canvas" class="map-canvas" ></div>
</div>

<script>
    var myCoords = {lat: 48.86, lng: 2.34}

    var mapOptions = {
    center: myCoords,
    zoom: 14,
    };
    var map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
</script>