nav {
	height: 0%;
	background: #051018;
	z-index: 5000;	
}

nav .navbar-brand {
	height: 60px;
	margin-left: 22px;
}

nav .nav-link {
	font-family: 'Roboto', sans-serif !important;
	margin: 12px;
	font-weight: 200;
	line-height: normal;
	font-size: 20px;

	color: rgba(255, 255, 255, 0.86);

	&:hover {
		color: #D8D846!important;
	}
}

nav .navbar-toggler:focus {
	outline: none;
}

nav .dropdown-divider {
	margin: 0;
}

nav .dropdown-menu {
	background-color: #537060;
	margin-top: 11.5px;
	margin-left: 8px;
	z-index: 1000000;
}

nav .dropdown-item {
	color: white!important;
	background-color: #537060!important;
	opacity: 0.5!important;
	margin: 5px!important;
	width: 94%;

	&:hover {
		border: 1px solid #D8D846!important;
		background-color: #537060!important;
		color: white!important;
	    border-radius: 8px!important;
	    opacity: 1!important;
	}
}

nav #alimlogo:hover {
	transform: scale(1.1);
}
