/* ---------------------------------------------------
    ABOUT THE MEMBERS ALIMALO
----------------------------------------------------- */

.members {
	top:400px;
	display:flex;
	align-content: space-between;
}

.member-1 {
	width: 200px;
	height: 200px;
	border: 1.5em solid black;
	border-radius: 50%;
}


.member-2 {
	width: 200px;
	height: 200px;
	border: 1.5em solid black;
	border-radius: 50%;
}
.member-3 {
	width: 200px;
	height: 200px;
	border: 1.5em solid black;
	border-radius: 50%;
}
.member-4 {
	width: 200px;
	height: 200px;
	border: 1.5em solid black;
	border-radius: 50%;
}

.member-5 {
	width: 200px;
	height: 200px;
	border: 1.5em solid black;
	border-radius: 50%;
}
