.credentials {
	height:500px;
	margin-top: 40px;
	overflow: scroll !important;
}

.credentials h1, .credentials h5 {
	font-family: 'righteous'
}

.credentials p {
	font-family: 'Roboto'
}

.alert {
	position:absolute;
}
