/* ---------------------------------------------------
    DASHBOARD MANAGEMENT
----------------------------------------------------- */

.dashboard-main {
	margin-top:50px;
}

.dashboard-main h1 {
	font-family: 'Roboto';

}

.dashboard {
	margin-top: 40px;
}

.dashboard-main h2 {
	font-family: 'Righteous', sans-serif !important;

}

.dashboard-left {
	overflow: scroll;
	height: 400px;
	padding: 20px;
}

.dashboard-right {
	overflow: scroll;
	height: 400px;
	padding: 20px;
}


.dashboard-image {
	height:300px;
	width: 500px;
	border: 3px solid #051018;
}