/* ---------------------------------------------------
    ALIMALO NAVBAR
----------------------------------------------------- */


nav {
	height: 0%;
	background: #051018;
	z-index: 5000;	
	width: 100%;
}

/* LOGO */

nav .navbar-brand {
	height: 60px;
	margin-left: 22px;
}

nav #alimlogo:hover {
	opacity: 1;
}

nav #alimlogo {
	opacity: 0.8;
}


/* MENU*/ 

nav .nav-link {
	font-family: 'Roboto', sans-serif !important;
	margin: 12px;
	font-weight: 100;
	line-height: normal;
	font-size: 15px;

	color: rgba(255, 255, 255, 0.86);

	&:hover {
		color: #D8D846!important;
	}
}

nav .navbar-toggler:focus {
	outline: none;
}

nav .dropdown-divider {
	margin: 0;
}

nav .dropdown-menu {
	background-color: #537060;
	margin-top: 11.5px;
	margin-left: 8px;
	z-index: 1000000;
}

nav .dropdown-item {
	color: white!important;
	background-color: #537060!important;
	opacity: 0.5!important;
	margin: 5px!important;
	width: 94%;

	&:hover {
		border: 1px solid #D8D846!important;
		background-color: #537060!important;
		color: white!important;
	    border-radius: 8px!important;
	    opacity: 1!important;
	}
}


/* Texte défilant */

.defileParent {
	display:block;
	margin-left: 5em;
	overflow: hidden;
	position: relative;
	table-layout: fixed;
	width: 450px;
	background-color: blue;
	opacity:0.8;

}
.defile {
	display:block;
	font-family: "Roboto", sans-serif;
	-webkit-animation:linear marqueelike 20s infinite ;
	-moz-animation:linear marqueelike 20s infinite ;
	-o-animation:linear marqueelike 20s infinite ;
	-ms-animation:linear marqueelike 20s infinite ;
	animation:linear marqueelike 20s infinite ;
	padding:0 5px;
	text-align:left;
	height:10px;
	color: yellow;
}


.defile:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
	0%, 100% {margin-left:0;}
	99.99% {margin-left:-100%;}
 }

@media only screen and (max-width: 1300px) {
	.defileParent {
		display: none;
	}

	.defile {
		display:none;
	}
}