
/* ---------------------------------------------------
    INNER SIDEBAR STYLE
----------------------------------------------------- */


/* MAIN CONTAINER */

#shopshow {
    color:#79B4C7; 
    background-color: #051018;
    padding: 20px;
}


/* IMAGE */

.wrapper#sidebar#image {
    width: 80%;
    border-radius: 1em;
}


/* COMPONENTS */

.wrapper #sidebar ul.components {
    padding: 40px 0;
    border-bottom: 1px solid #537060;
}

.wrapper .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.wrapper .info-name {
    width:230px;
    padding: 10px;

}

#shopshow#shop {
    margin-right: 6px;
}

.wrapper .timeline {
    width:130px;
    padding: 10px;
    border: 2px solid #537060;
    border-radius: 1em;
}

