
/* ---------------------------------------------------
    GLOBAL STYLE
----------------------------------------------------- */

.wrapper p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper a, .wrapper a:hover, .wrapper a:focus {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    SIDEBAR SHOW/HIDE
----------------------------------------------------- */
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    @media (min-width: 991px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
            -ms-flex-direction:row;
                flex-direction:row;
    }
}

.wrapper #sidebar {
    height: 65vh;
    background-color: #152F49;
    color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border: 10px solid #051018;
    margin-bottom: 10vh;
    border-top-left-radius:2em;
    border-top-right-radius:2em; 
    @media (min-width: 991px) {
        position: static;
        min-width: 450px;
        max-width: 450px;
        height: 100vh;
        border-radius:0;
        background-color: #152F49;
        border-left: 10px solid #051018;
        color: #fff;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        overflow-y: hidden;
        overflow-x: none;
        border-width: 0px;
    }
}


.wrapper #sidebar.inactive {
    bottom: -90vh;
    @media (min-width: 991px) {
        margin-left: -450px;
    }
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.wrapper #content {
    position: static;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    @media (min-width: 991px) {
        width: 100%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
}

#google-map {
    width: 100%;
    height: 92vh;
    opacity: 1;
    position: relative;
}


.wrapper .navbar {
    background: #fff;
    width:100%;
    height: 10vh;
    border: 10px solid black;
    border-top-left-radius:2%;
    border-top-right-radius: 2%; 
    z-index: 90000;
    background-color:white;
    opacity: 0.5; 
    bottom: 0;
    position: fixed;        
        @media (min-width: 991px) {
            background: #fff;
            width:70px;
            height: 100%;
            border: 10px solid #051018;
            border-radius: 0;
            z-index: 4000;
            float: left;
            background-color:white;
            opacity: 0.5; 
    }
}

.wrapper .hyperspan {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:1;
}

button:focus {
    outline: 0 !important;

}
