// Place all the styles related to the operating_hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.close {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 1500px;

}
.open {
  background-color: green;
  color:#bfbfbf;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 1500px;

}
.horaires {
  background-color: #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 1500px;
}

.longeur {
    background-color:#bfbfbf;
  height: 1000px;
  width: 1500px;

}
